<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <img class="card-img-top" src="../../assets/images/about.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body" style="color: white;">
                        <h4 class="card-title">Deals and Coupons Finder App</h4>
                        <h5>Best deals on clothing sites likes Myntra, Ajio and Firstcry</h5>
                        <p class="card-text"></p>
                        <p  class="card-text">An independent platform that provides you deals and coupons for clothing sites</p>
                        <p class="card-text">The coupons displayed at the site are in colaboration with the sites but they are subject to change. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>