.btn btn-success {
    height: 30%;
    background-color: firebrick;
    border: bisque;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    /* padding: 30px; */
    margin-left: 60px;
    margin-top: 20px;
}


/* media Queries */

@media only screen and (min-width:500px) {
    .img {
        width: 60%
    }
}

@media only screen and (min-width:576px) {
    .img {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .img {
        width: 110%
    }
}