<div class="container-fluid">
    <div class="row">
        <div class="col-4" *ngFor="let i of item">
            <div class="card w-55 p-3 mb-5 shadow-lg bg-white h-90 d-flex align-items-stretch" style="margin-top: 5px;">
                <div class="card-body" style="background-color: lightsalmon;">
                    <div style="float: left;">
                        <img src="{{i.imageUrl}}" style="height: 200px; width:200px;">
                    </div>
                    <div class="card-body" style="text-align: right;">
                        <h4 class="card-title">{{i.name}}</h4>
                        <p class="card-text" style="font-weight: bolder;">{{i.price | currency}}</p>
                        <h5 class="card-title" style="font-weight: bolder;">
                            <span class="fa fa-star checked">{{"Rating: " + i.rating}}</span>
                        </h5>
                        <button style="float:inline-end; height: 30%;" (click)="addcart(i)" class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>