<div class="container-fluid" id="yhome">


    <div class=" row">
        <div class="col">
            <div class="line">
                <span>Best Deals and coupons for popular clothing sites</span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <div class="card " style="width: 30.2rem;">
                <img class="card-img-top" src="../../assets/logos/myntra-logo.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Deals and Coupons for Myntra</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 19rem;">
                <img class="card-img-top" src="../../assets/logos/ajio.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Deals and Coupons for Ajio </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="../../assets/logos/firstcry.jpg" style="width: 14rem;height: 14rem;"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Deals and Coupons for Firstcry.com</p>
                </div>
            </div>
        </div>

    </div>

</div>